<!doctype html>
<html data-bs-theme="auto" lang="en">
{#include fragments/_head /}

<body>
{#include fragments/_svg /}
{#include fragments/_header /}

<div class="container-fluid">
    <div class="row">
        {#include fragments/_sidenav /}
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">New Employee</h1>
            </div>

            <!-- Create Employee Form -->
            <div>
                <form method="post" action="/employees">
                    <div class="mb-3">
                        <label class="form-label" for="firstName">First Name</label>
                        <input class="form-control {#if errors.containsKey('firstName')}is-invalid{/if}" id="firstName" type="text"
                               name="firstName" value="{form.firstName ?: ''}" />
                        {#if errors.containsKey('firstName')}
                        <div id="firstNameError" class="invalid-feedback">
                            {errors.get('firstName')}
                        </div>
                        {/if}
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="lastName">Last Name</label>
                        <input class="form-control {#if errors.containsKey('lastName')}is-invalid{/if}" id="lastName" type="text"
                               name="lastName" value="{form.lastName ?: ''}" />
                        {#if errors.containsKey('lastName')}
                        <div id="lastNameError" class="invalid-feedback">
                            {errors.get('lastName')}
                        </div>
                        {/if}
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="department">Department</label>
                        <input class="form-control {#if errors.containsKey('department')}is-invalid{/if}" id="department" type="text"
                               name="department" value="{form.department ?: ''}" />
                        {#if errors.containsKey('department')}
                        <div id="departmentError" class="invalid-feedback">
                            {errors.get('department')}
                        </div>
                        {/if}
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input class="form-control {#if errors.containsKey('email')}is-invalid{/if}" type="email" id="email" name="email" value="{form.email ?: ''}" />
                        {#if errors.containsKey('email')}
                        <div id="emailError" class="invalid-feedback">
                            {errors.get('email')}
                        </div>
                        {/if}
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="phoneNumber">Phone Number</label>
                        <input class="form-control {#if errors.containsKey('phone')}is-invalid{/if}" id="phoneNumber" type="text"
                               name="phoneNumber" value="{form.phone ?: ''}" />
                        {#if errors.containsKey('phone')}
                        <div id="phoneError" class="invalid-feedback">
                            {errors.get('phone')}
                        </div>
                        {/if}
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary" type="submit">Create</button>
                    </div>
                </form>
            </div>
        </main>
    </div>
</div>
    <script crossorigin="anonymous"
            integrity="sha384-eI7PSr3L1XLISH8JdDII5YN/njoSsxfbrkCTnJrzXt+ENP5MOVBxD+l6sEG4zoLp"
            src="https://cdn.jsdelivr.net/npm/chart.js@4.3.2/dist/chart.umd.js"></script>
</body>
</html>