<header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white" href="/app">VTech</a>
    <div class="d-flex">
                <span class="navbar-text text-white me-3">
                    Welcome, <span></span>
                </span>
        <form method="post">
            <input class="btn btn-outline-light" type="submit" value="Logout"/>
        </form>
        <a class="btn btn-outline-light" href="/login">Login</a>
    </div>
</header>