<!doctype html>
<html data-bs-theme="auto" lang="en">
{#include fragments/_head /}

<body>
{#include fragments/_svg /}
{#include fragments/_header /}

<div class="container-fluid">
    <div class="row">
        {#include fragments/_sidenav /}
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Tasks</h1>
            </div>

            <div class="m-2">
                <form action="/tasks" class="form-inline" method="post">
                    <div class="form-group mb-2">
                        <label for="task-name">Task Name</label>
                        <input class="form-control" id="task-name" name="taskName" type="text"/>
                    </div>
                    <button class="btn btn-primary" type="submit">Create</button>
                </form>
            </div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Done</th>
                        <th scope="col">Name</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {#for task in tasks}
                    <tr>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input"
                                       data-task-id="{task.id}"
                                       {#if task.completed}checked{/if}
                                       id="completedCheck_{task.id}"
                                       onchange="completeTask(this)"
                                       type="checkbox"/>
                            </div>
                        </td>

                        <td id="taskName_{task.id}"
                            style="{task.completed ? 'text-decoration: line-through;' : 'text-decoration: none;'}">
                            {task.name}
                        </td>

                        <td>
                            <form action="/tasks/delete/{task.id}" method="POST">
                                <input name="_method" type="hidden" value="DELETE"/>
                                <button class="btn btn-outline-danger" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {#else}
                    <tr>
                        <td colspan="3">No tasks created.</td>
                    </tr>
                    {/for}
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>
    <script crossorigin="anonymous"
            integrity="sha384-eI7PSr3L1XLISH8JdDII5YN/njoSsxfbrkCTnJrzXt+ENP5MOVBxD+l6sEG4zoLp"
            src="https://cdn.jsdelivr.net/npm/chart.js@4.3.2/dist/chart.umd.js"></script>
    <script defer src="/js/tasks.js"></script>
</body>
</html>