<!doctype html>
<html data-bs-theme="auto" lang="en">
{#include fragments/_head /}

<body>
{#include fragments/_svg /}
{#include fragments/_header /}

<div class="container-fluid">
    <div class="row">
        {#include fragments/_sidenav /}
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">New Product</h1>
            </div>

            <!-- Create Employee Form -->
            <div>
                <form action="/products" method="post" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label class="form-label" for="name">Name</label>
                        <input class="form-control {#if errors.containsKey('name')}is-invalid{/if}" id="name"
                               name="name"
                               type="text" value="{form.name ?: ''}"/>
                        {#if errors.containsKey('name')}
                        <div class="invalid-feedback" id="nameError">
                            {errors.get('name')}
                        </div>
                        {/if}
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="description">Description</label>
                        <input class="form-control {#if errors.containsKey('description')}is-invalid{/if}"
                               id="description" name="description"
                               type="text" value="{form.description ?: ''}"/>
                        {#if errors.containsKey('description')}
                        <div class="invalid-feedback" id="descriptionError">
                            {errors.get('description')}
                        </div>
                        {/if}
                    </div>
                    <div class="mb-3">
                        <label for="photoFile">Select Photo(s):</label>
                        <input
                            accept="image/jpeg, image/png, image/gif, image/webp"
                            id="photoFile"
                            multiple
                            name="photos"
                            required
                            type="file">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="price">Price</label>
                        <input class="form-control {#if errors.containsKey('price')}is-invalid{/if}" id="price"
                               name="price"
                               type="number" value="{form.price ?: ''}"/>
                        {#if errors.containsKey('price')}
                        <div class="invalid-feedback" id="priceError">
                            {errors.get('price')}
                        </div>
                        {/if}
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary" type="submit">Create</button>
                    </div>
                </form>
            </div>
        </main>
    </div>
</div>
<script crossorigin="anonymous"
        integrity="sha384-eI7PSr3L1XLISH8JdDII5YN/njoSsxfbrkCTnJrzXt+ENP5MOVBxD+l6sEG4zoLp"
        src="https://cdn.jsdelivr.net/npm/chart.js@4.3.2/dist/chart.umd.js"></script>
</body>
</html>